body{
    margin: 0 auto;
}

.container{
    border : solid #000;
    min-height:100%;
}
.box{
    border : solid #000;
}

#gridVideos{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}